/*para configurar estilo de la barra de navegacion en general y una animación aplicada a ellaa*/
nav {
    height:auto;
    background-image:linear-gradient(135deg,#00B7D4,#505488,#2F3F80,#161569,#5A4894,#A950A1,#FF7CAE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position:100% 50%;
    }
    100% {
        background-position: 0% 50%;

    }
}

/*para achicar el logo de la materia y ponerle margen izq*/
.LogoDiseñoMultimedia {
    max-width: 60px;
    margin-left:3rem;
}


/*para separar los items de la barra entre sí*/

.nav-item {
    margin-right:1rem;
}



/*refiere a la lista de redes sociales de la derecha , iconos sacados con link de la galería de fontawesome*/

.list-group { 
    --bs-list-group-bg:transparent;
    --bs-list-group-item-padding-x: 0.4rem;
    --bs-list-group-item-padding-y: 0.4rem;
    margin-right: 2rem;
    }

.list-group-item {
        border:none; 
    }
    
    
.list-group-item:hover{
        background-color: #cb8af6;
    }
    
.list-group-item:active {
        background-color: #2f0347d8;
    }


/* refieren al link de los items de la barra de navegacion, no a los item en si, sino a su enlace*/
.nav-link {
        font-size:large;
        color: white;
        background-color: none;
        border: none;
    }
    
.nav-link:hover {
        color: magenta;
        font-weight:600;
        }
    
.nav-link:focus{
        color: magenta;
        font-weight:650}
    
.nav-link:active{
        color:#550055;
    }



body{
    background-color: #100028;
}


/* PARA EL BANNER DE INICIO*/

section.banner {
    height:100vh;
    width:100%; 
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    -msn-background-size:cover;
    
    }
    


.presentacionInicio {
        text-align: center;
        position: absolute;
        color: #fff;
        width: 50%;
        margin-left: 5%;
        margin-right: 50%;
        margin-top: 4cm;
      }

.FOTO-PERFIL1 {    
        position: absolute;
        max-width:25%;
        margin-left:22cm;
        margin-right:5cm;
        margin-top: 3cm;
        margin-bottom: 10cm;
        border-radius:100%;
        float: right;
        border-color: #3afdea;
        border-style:double;
        
    }


    @media (max-width: 768px) {
        .presentacionInicio {
         width: 100%; /* Ajusta el ancho en dispositivos móviles */
          margin-left:0;
          margin-right:0%;
          margin-top:10%;
         }}


    @media (max-width: 768px) {
        .FOTO-PERFIL1 {
          max-width: 50%; /* Ajusta el ancho en dispositivos móviles */
          margin-left:30%;
          margin-top: 70%;
        }}

.FOTO-PERFIL2 {
    border-radius: 10%;
    margin-top:3rem;
    margin-bottom: 1rem;
    width: 80%;
    border-color: #3afdea;
    border-style: double;

}



.TITULOS{
    font-family: 'Play', sans-serif;
    color: #3afdea;
    font-weight: bold;

}

.SUBTITULOS{
    text-align: center;
    color: #3afdea;
    background-color: transparent;
    border-color:#3afdea ;
    border-style:double;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    }

.TEXTODESUBTITULOS{
    font-size: 18px;
    text-align:center;
    color: white;
    padding: 1rem;
    
    line-height: 1.5;
    background-color:transparent;
    margin:1rem; 
    margin-bottom: 2rem;

}


/*PARA GALERIA DE CERTIFICADOS*/

.galeria {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;/*distancia entre columnas de grillas*/
    padding: 3rem;
    justify-content: center; /* Centra la galería en la página */
}

.certificado {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
    transition: transform 0.3s ease-in-out; /*se utiliza para proporcionar una transición suave al efecto, se complementa con transform*/
    height: auto;
}

.certificado:hover {
    transform: translateY(-10px); /* Sirve para ajustar la cantidad de elevación cambiando el valor aquí */
  }


.certificado img {
    width: 100%;
    height: auto;
    display:block;
    border-radius: 8px;
    max-height: 400px; /* Establece la altura máxima deseada */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.certificado:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    margin: 0;
    text-align: center;
}



/*código CSS para ocultar inicialmente la versión grande de los certificados y despues js pueda ampliarla*/
.certificado-ampliado {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
  }
  
  .certificado-ampliado img {
    max-width: 80%;
    max-height: 80%;
    border: 2px solid white;
    border-radius: 10px;
  }
  

/* Para barras de progreso*/

  .progress {
    margin-bottom: 20px; /* Ajusta el espacio entre las barras de progreso */ 
    height:30px;   /* Ajusta la altura de las barras de progreso */  
    border-style:double;
    border-color: #3afdea;
    background-color: black;
    border-radius: 50px;
  }
  


/*interior de la barra*/
.progress-bar {
   background-color:rgb(29, 42, 225);
   color: white;
   font-weight: bold;
  }





/*PROYECTOS:card, cursor sobre tarjeta, y separacion de la fila 2 del footer*/
.card {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 6px #3bfce9;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px #3afdea;
  }

section.fila1{
    margin-bottom: 50px;
    margin-top: 2rem;
}

section.fila2 {
    margin-bottom: 50px;
    padding-bottom: 0 auto;
}

/* CONTACTO Y DATOS PERSONALES, PARA EliminaR marcadores de listas desordenadas */

.ocultarMarcadores{
    list-style-type: none;
}


/*FOOTER*/
footer {
    background-image:linear-gradient(135deg,#505488,#2F3F80,#161569,#5A4894,#A950A1,#FF7CAE);
     color: #fff;
     padding: 30px;
     position:relative;
     bottom: 0;
     width: 100%;
     height: auto;
   }

   
 



   